body {
    background-color: antiquewhite;
}

header {
    text-align: center;
}

.container {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;

    justify-content: center;

    background-color: white;
    flex-direction: column;
}

.form-label {
    background-color: wheat;
    display: flex;
    padding: 8px;
    font-size: 20px;    
}

.input-field {
    border-radius: 16px;
    border: 2px solid black;
    padding: 8px;
}